@import './responsive.scss';
@import './variables.scss';
@import './common.scss';
@import './howto.scss';

@font-face {
  font-family: bwnistaint-xbd;
  src: url(../fonts/BwNistaInt-xBd.woff) format("woff");
  font-style: normal;
  font-display: swap
}

html {
  font-size: 15px;
  @include smaller($breakpoint-sm) { font-size: 12px; }
}

body {
  line-height: 1.2;
  font-family: roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $text;
  background-color: #efefef;
  overflow-x: hidden
}

::selection {
  background: #0DBD0D;
  color: #fff
}

p {
  font-weight: 400;
  color: $text;
  font-size: 1rem;
  line-height: 1.8;
  font-family: roboto, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text;
  line-height: 1.2
}

h1 {
  font-size: 5rem;
  @include smaller($breakpoint-sm) { font-size: 3rem; }
  @include smaller($breakpoint-xs) { font-size: 2.5rem; }
}

h2 {
  font-size: 4rem;
  @include smaller($breakpoint-sm) { font-size: 2.5rem; }
}

h3 {
  font-size: 3rem;
  @include smaller($breakpoint-sm) { font-size: 2rem; }
}

h4 {
  font-size: 2rem;
  @include smaller($breakpoint-sm) { font-size: 1.7rem; }
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.1rem;
}


.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center
}

img {
  vertical-align: middle;
  border: 0
}

a {
  position: relative;
  text-decoration: none;
  color: #0DBD0D;
}

a:hover {
  color: #0DBD0D;
  text-decoration: none;
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:  #0DDD0D;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease
}

a:focus,
button:focus,
select:focus {
  outline: 0
}

.slick-slide {
  outline: 0
}

.section {
  padding-top: 4rem;
  padding-bottom: 4rem
}

.section-title {
  margin-bottom: 80px;
  font-family: bwnistaint-xbd
}

.bg-cover {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat
}

.overlay {
  position: relative
}

.overlay::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: .5
}

.bg-primary {
  background: #0DDD0D !important
}

.bg-gray {
  background: #eaeaea !important
}

.text-primary {
  color: #0DDD0D !important
}

.text-dark {
  color: #000 !important;

}
a.text-dark:before {
  background-color: #000 !important;
}
.text-light {
  color: #999 !important
}

.zindex-1 {
  z-index: 1
}

.shadow {
  box-shadow: 0 18px 39.1px 6.9px rgba(224, 241, 255, .34) !important
}

.bg-dark {
  background-color: #222 !important;
}

.icon {
  font-size: 45px
}

.icon-bg {
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center
}

.slick-dots {
  text-align: center;
  padding-left: 0
}

.slick-dots li {
  display: inline-block;
  margin: 2px
}

.slick-dots li.slick-active button {
  background: #fff;
  width: 25px
}

.slick-dots li button {
  height: 6px;
  width: 12px;
  background: rgba(255, 255, 255, .5);
  color: transparent;
  border-radius: 10px;
  overflow: hidden;
  transition: .2s ease;
  border: 0
}

.form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #c7c7c7;
  height: 60px
}

.form-control:focus {
  border-color: #0DDD0D;
  outline: 0;
  box-shadow: none !important
}

textarea.form-control {
  height: 120px
}

.card {
  border: 0;
}

.card-header {
  border: 0
}

.card-footer {
  border: 0
}

.navigation {
  padding: 2rem 130px;
  transition: .3s ease;
  @include smaller($breakpoint-xs) {
    padding: 0px 20px;
  }
}

header.navigation.nav-bg {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
  -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
  background-color: #0DDD0D;
  padding: 0px 100px;
  @include smaller($breakpoint-xs) {
    padding: 0px 20px;
  }
  height: 4rem;
}

.navbar .nav-item .nav-link {
  font-family: bwnistaint-xbd;
  text-transform: uppercase;
  padding: 15px
}
.navbar .nav-item.active {
  font-weight: 700
}

.navbar-dark .navbar-nav .nav-link {
  color: #333
}

.navbar-collapse {
  @include smaller($breakpoint-md) {
    background-color: #0DDD0D;
  }
}
.hero-area {
  padding: 15rem 0 10rem;
  position: relative
}

@media(max-width:1400px) {
  .hero-area {
    padding: 10rem 0 10rem;
    overflow: hidden
  }
}

@media(max-width:767px) {
  .hero-area {
    padding: 5rem 0 10rem;
    overflow: hidden
  }
}

.hero-area h1 {
  position: relative;
  font-size: 4rem;
  @include smaller($breakpoint-sm) { font-size: 3rem; }
  @include smaller($breakpoint-xs) { font-size: 2rem; }
  z-index: 2;
  left: 5%;
}

.layer {
  position: absolute;
  z-index: 1;
  width: 20px;
}

#l1 {
  bottom: 45%;
  right: 35%;
}

#l2 {
  bottom: 60%;
  right: 20%;
}

#l3 {
  bottom: 42%;
  right: 13%;
}

#l4 {
  bottom: 35%;
  right: 39%;
}

#l5 {
  bottom: 40%;
  right: 23%;
}

#l6 {
  bottom: 25%;
  right: 10%;
}

#l7 {
  bottom: 12%;
  right: 36%;
}

#l8 {
  bottom: 5%;
  right: 20%;
}

#l9 {
  bottom: 7%;
  right: 5%;
}

.layer-bg {
  position: absolute;
  bottom: 0;
  left: 0
}

.layer img {
  filter: invert(1);
  width: 4rem;
  @include smaller($breakpoint-sm) { width: 3rem; }
  @include smaller($breakpoint-xs) { width: 2.5rem; }
}

#radar-trans {
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 80%;
  max-width: 60%;
  overflow: hidden;
}

.hover-bg-primary {
  transition: .3s ease
}

.hover-bg-primary:hover {
  background: #0DDD0D
}

.hover-bg-primary:hover * {
  color: #111
}

.active-bg-primary {
  transition: .3s ease;
  background: #0DDD0D
}

.hover-shadow {
  transition: .2s ease
}

.hover-shadow:hover {
  box-shadow: 0 18px 40px 8px rgba(224, 241, 255, .54) !important
}

.hover-wrapper {
  overflow: hidden
}

.hover-wrapper img {
  transition: .3s ease;
  transform: scale(1.1)
}

.hover-wrapper:hover img {
  transform: scale(1)
}

.hover-wrapper:hover .hover-overlay {
  opacity: 1;
  visibility: visible
}

.hover-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .7);
  opacity: 0;
  visibility: hidden;
  transition: .3s ease
}

.feature-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  top: 0;
  left: 0;
}

.feature-title {
  background: rgba(255, 255, 255, .8);
  text-align: center;
  padding: 1rem 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  @include smaller($breakpoint-xs) { font-size: 1.5rem; }
}
.hover-content {
  position: absolute;
  top: 0;
  text-align: center;

  span {
    font-size: 1.2rem;
    padding: 2rem 1rem;
    display: inline-block;
    color: white;
  }
}

.section-on-footer {
  margin-bottom: -250px
}

blockquote {
  display: inline-block;
  padding: 10px 20px;
  background: #eaeaea;
  border-left: 2px solid #0DDD0D;
  font-style: italic;
  font-size: 22px
}

.content * {
  margin-bottom: 20px
}

.content strong {
  font-size: 22px;
  font-weight: 400;
  color: #000;
  display: inherit;
  line-height: 1.5
}

.navbar-brand img {
  width: 10rem;
}

.navbar {
  padding-right: 80px;
}

footer.bg {
  font-size: 0.9em;
  a {
    color: #999;
    text-decoration: underline;
  }
  a:before {
    content: none;
  }
}

.toc-anchor {
  position: relative;
  top: -70px;
}

div.usecase-details {
  align-items: center;
}
.usecase-details a {
  max-height: 6rem;
}