// helpers for responsive scss components
$breakpoint-xs: 576px; // smaller than breakpoint -> xs, taken from https://getbootstrap.com/docs/4.0/layout/overview/#responsive-breakpoints
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

@mixin smaller($breakpoint) {
  @media (max-width: $breakpoint) { @content; }
}

@mixin between($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin larger($breakpoint) {
  @media (min-width: $breakpoint) { @content; }
}