{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "printWidth": 100,
  "overrides": [
    {
      "files": ["web/src/**/*.{ts,tsx,js,jsx,json,css,scss,md}"],
      "options": {
        "semi": false,
        "singleQuote": true
      }
    }
  ]
}
