{{ define "main" }}
  <!-- empty section to block space for navbar -->
  <section class="section bg-primary">
  </section>

  <section class="section" style="padding-bottom: 0;">
  <div class="toc">
    <div class="toc-links">
      {{ range where .Site.RegularPages "Type" "about" }}
        <div class="toc-link-container">
          <a class="btn toc-link-text" href="#{{ .Title | urlize }}">{{ .Title | humanize }}</a>
        </div>
      {{ end }}
    </div>
  </div>
  </section>

  <section class="section about">
    <div class="container">
      {{ range where .Site.RegularPages "Type" "about" }}
        <a class="toc-anchor" id="{{ .Title | urlize }}"></a>
        {{ partial "content-type/card" . }}
      {{ end }}
    </div>
  </section>

{{ end }}